POSTGRES_DB=${POSTGRES_DB}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_HOST=${POSTGRES_HOST}
POSTGRES_PORT=${POSTGRES_PORT}
DATABASE_URL=${DATABASE_URL}

AUTH_TOKEN=${AUTH_TOKEN}

NCCL_API_URL=${NCCL_API_URL}
NCCL_APP_URL=${NCCL_APP_URL}

CLERK_PUBLISHABLE_KEY=${CLERK_PUBLISHABLE_KEY}
CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
CLERK_WEBHOOK_SIGNING_SECRET=${CLERK_WEBHOOK_SIGNING_SECRET}

GOOGLE_CALENDAR_API_KEY=${GOOGLE_CALENDAR_API_KEY}
GOOGLE_CALENDAR_ID_NCCL_PUBLIC=${GOOGLE_CALENDAR_ID_NCCL_PUBLIC}