.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
dist
bin
.turbo
*storybook.log
storybook-static
.env
.env.spec
.env.test
.npmrc

# packages/app
build

# packages/api
dist-client
_generated
