.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
  overflow: hidden;
  height: 640px;
  width: 360px;
  border: 1px solid #ccc;
  border-radius: 1rem;

  display: grid;
  place-content: bottom;
  padding: 1rem;
}
