:root {
  --nccl-color-primary-50: #e2feff;
  --nccl-color-primary-50-hex: #e2feff;
  --nccl-color-primary-50-hsl: 182, 100, 94;
  --nccl-color-primary-50-rgb: 226, 254, 255;
  --nccl-color-primary-100: #d1ecf5;
  --nccl-color-primary-100-hex: #d1ecf5;
  --nccl-color-primary-100-hsl: 195, 64, 89;
  --nccl-color-primary-100-rgb: 209, 236, 245;
  --nccl-color-primary-200: #c1dbeb;
  --nccl-color-primary-200-hex: #c1dbeb;
  --nccl-color-primary-200-hsl: 203, 51, 84;
  --nccl-color-primary-200-rgb: 193, 219, 235;
  --nccl-color-primary-300: #b0cbe1;
  --nccl-color-primary-300-hex: #b0cbe1;
  --nccl-color-primary-300-hsl: 207, 45, 79;
  --nccl-color-primary-300-rgb: 176, 203, 225;
  --nccl-color-primary-400: #9fbad8;
  --nccl-color-primary-400-hex: #9fbad8;
  --nccl-color-primary-400-hsl: 212, 42, 74;
  --nccl-color-primary-400-rgb: 159, 186, 216;
  --nccl-color-primary-500: #8faace;
  --nccl-color-primary-500-hex: #8faace;
  --nccl-color-primary-500-hsl: 214, 39, 68;
  --nccl-color-primary-500-rgb: 143, 170, 206;
  --nccl-color-primary-600: #7e9ac4;
  --nccl-color-primary-600-hex: #7e9ac4;
  --nccl-color-primary-600-hsl: 216, 37, 63;
  --nccl-color-primary-600-rgb: 126, 154, 196;
  --nccl-color-primary-700: #6e8ab4;
  --nccl-color-primary-700-hex: #6e8ab4;
  --nccl-color-primary-700-hsl: 216, 32, 57;
  --nccl-color-primary-700-rgb: 110, 138, 180;
  --nccl-color-primary-800: #5e7ba3;
  --nccl-color-primary-800-hex: #5e7ba3;
  --nccl-color-primary-800-hsl: 215, 27, 50;
  --nccl-color-primary-800-rgb: 94, 123, 163;
  --nccl-color-primary-900: #4f6c93;
  --nccl-color-primary-900-hex: #4f6c93;
  --nccl-color-primary-900-hsl: 214, 30, 44;
  --nccl-color-primary-900-rgb: 79, 108, 147;
  --nccl-color-primary-1000: #405d84;
  --nccl-color-primary-1000-hex: #405d84;
  --nccl-color-primary-1000-hsl: 214, 35, 38;
  --nccl-color-primary-1000-rgb: 64, 93, 132;
  --nccl-color-primary-1100: #304f74;
  --nccl-color-primary-1100-hex: #304f74;
  --nccl-color-primary-1100-hsl: 213, 41, 32;
  --nccl-color-primary-1100-rgb: 48, 79, 116;
  --nccl-color-primary-1200: #204165;
  --nccl-color-primary-1200-hex: #204165;
  --nccl-color-primary-1200-hsl: 211, 52, 26;
  --nccl-color-primary-1200-rgb: 32, 65, 101;
  --nccl-color-primary: #7e9ac4;
  --nccl-color-primary-hex: #7e9ac4;
  --nccl-color-primary-hsl: 216, 37, 63;
  --nccl-color-primary-rgb: 126, 154, 196;
  --nccl-color-secondary-50: #e3ffff;
  --nccl-color-secondary-50-hex: #e3ffff;
  --nccl-color-secondary-50-hsl: 180, 100, 95;
  --nccl-color-secondary-50-rgb: 227, 255, 255;
  --nccl-color-secondary-100: #d2f5f3;
  --nccl-color-secondary-100-hex: #d2f5f3;
  --nccl-color-secondary-100-hsl: 177, 64, 89;
  --nccl-color-secondary-100-rgb: 210, 245, 243;
  --nccl-color-secondary-200: #c2ebe8;
  --nccl-color-secondary-200-hex: #c2ebe8;
  --nccl-color-secondary-200-hsl: 176, 51, 84;
  --nccl-color-secondary-200-rgb: 194, 235, 232;
  --nccl-color-secondary-300: #b1e1dc;
  --nccl-color-secondary-300-hex: #b1e1dc;
  --nccl-color-secondary-300-hsl: 174, 44, 79;
  --nccl-color-secondary-300-rgb: 177, 225, 220;
  --nccl-color-secondary-400: #a0d8d1;
  --nccl-color-secondary-400-hex: #a0d8d1;
  --nccl-color-secondary-400-hsl: 173, 42, 74;
  --nccl-color-secondary-400-rgb: 160, 216, 209;
  --nccl-color-secondary-500: #8fcec5;
  --nccl-color-secondary-500-hex: #8fcec5;
  --nccl-color-secondary-500-hsl: 171, 39, 68;
  --nccl-color-secondary-500-rgb: 143, 206, 197;
  --nccl-color-secondary-600: #7ec4ba;
  --nccl-color-secondary-600-hex: #7ec4ba;
  --nccl-color-secondary-600-hsl: 171, 37, 63;
  --nccl-color-secondary-600-rgb: 126, 196, 186;
  --nccl-color-secondary-700: #6eb3aa;
  --nccl-color-secondary-700-hex: #6eb3aa;
  --nccl-color-secondary-700-hsl: 172, 31, 57;
  --nccl-color-secondary-700-rgb: 110, 179, 170;
  --nccl-color-secondary-800: #5ea39a;
  --nccl-color-secondary-800-hex: #5ea39a;
  --nccl-color-secondary-800-hsl: 172, 27, 50;
  --nccl-color-secondary-800-rgb: 94, 163, 154;
  --nccl-color-secondary-900: #4e938a;
  --nccl-color-secondary-900-hex: #4e938a;
  --nccl-color-secondary-900-hsl: 172, 31, 44;
  --nccl-color-secondary-900-rgb: 78, 147, 138;
  --nccl-color-secondary-1000: #3e847b;
  --nccl-color-secondary-1000-hex: #3e847b;
  --nccl-color-secondary-1000-hsl: 172, 36, 38;
  --nccl-color-secondary-1000-rgb: 62, 132, 123;
  --nccl-color-secondary-1100: #2d746c;
  --nccl-color-secondary-1100-hex: #2d746c;
  --nccl-color-secondary-1100-hsl: 173, 44, 32;
  --nccl-color-secondary-1100-rgb: 45, 116, 108;
  --nccl-color-secondary-1200: #1b655d;
  --nccl-color-secondary-1200-hex: #1b655d;
  --nccl-color-secondary-1200-hsl: 174, 58, 25;
  --nccl-color-secondary-1200-rgb: 27, 101, 93;
  --nccl-color-secondary: #7ec4ba;
  --nccl-color-secondary-hex: #7ec4ba;
  --nccl-color-secondary-hsl: 171, 37, 63;
  --nccl-color-secondary-rgb: 126, 196, 186;
  --nccl-color-tertiary-50: #e2e1ff;
  --nccl-color-tertiary-50-hex: #e2e1ff;
  --nccl-color-tertiary-50-hsl: 242, 100, 94;
  --nccl-color-tertiary-50-rgb: 226, 225, 255;
  --nccl-color-tertiary-100: #d2d0f5;
  --nccl-color-tertiary-100-hex: #d2d0f5;
  --nccl-color-tertiary-100-hsl: 243, 65, 89;
  --nccl-color-tertiary-100-rgb: 210, 208, 245;
  --nccl-color-tertiary-200: #c1c0eb;
  --nccl-color-tertiary-200-hex: #c1c0eb;
  --nccl-color-tertiary-200-hsl: 241, 52, 84;
  --nccl-color-tertiary-200-rgb: 193, 192, 235;
  --nccl-color-tertiary-300: #b0afe1;
  --nccl-color-tertiary-300-hex: #b0afe1;
  --nccl-color-tertiary-300-hsl: 241, 45, 78;
  --nccl-color-tertiary-300-rgb: 176, 175, 225;
  --nccl-color-tertiary-400: #a09fd8;
  --nccl-color-tertiary-400-hex: #a09fd8;
  --nccl-color-tertiary-400-hsl: 241, 42, 74;
  --nccl-color-tertiary-400-rgb: 160, 159, 216;
  --nccl-color-tertiary-500: #8f8fce;
  --nccl-color-tertiary-500-hex: #8f8fce;
  --nccl-color-tertiary-500-hsl: 240, 39, 68;
  --nccl-color-tertiary-500-rgb: 143, 143, 206;
  --nccl-color-tertiary-600: #7e80c4;
  --nccl-color-tertiary-600-hex: #7e80c4;
  --nccl-color-tertiary-600-hsl: 238, 37, 63;
  --nccl-color-tertiary-600-rgb: 126, 128, 196;
  --nccl-color-tertiary-700: #6e71b3;
  --nccl-color-tertiary-700-hex: #6e71b3;
  --nccl-color-tertiary-700-hsl: 237, 31, 57;
  --nccl-color-tertiary-700-rgb: 110, 113, 179;
  --nccl-color-tertiary-800: #5e62a3;
  --nccl-color-tertiary-800-hex: #5e62a3;
  --nccl-color-tertiary-800-hsl: 237, 27, 50;
  --nccl-color-tertiary-800-rgb: 94, 98, 163;
  --nccl-color-tertiary-900: #4f5493;
  --nccl-color-tertiary-900-hex: #4f5493;
  --nccl-color-tertiary-900-hsl: 236, 30, 44;
  --nccl-color-tertiary-900-rgb: 79, 84, 147;
  --nccl-color-tertiary-1000: #3f4683;
  --nccl-color-tertiary-1000-hex: #3f4683;
  --nccl-color-tertiary-1000-hsl: 234, 35, 38;
  --nccl-color-tertiary-1000-rgb: 63, 70, 131;
  --nccl-color-tertiary-1100: #2f3874;
  --nccl-color-tertiary-1100-hex: #2f3874;
  --nccl-color-tertiary-1100-hsl: 232, 42, 32;
  --nccl-color-tertiary-1100-rgb: 47, 56, 116;
  --nccl-color-tertiary-1200: #1f2b65;
  --nccl-color-tertiary-1200-hex: #1f2b65;
  --nccl-color-tertiary-1200-hsl: 230, 53, 26;
  --nccl-color-tertiary-1200-rgb: 31, 43, 101;
  --nccl-color-tertiary: #7e80c4;
  --nccl-color-tertiary-hex: #7e80c4;
  --nccl-color-tertiary-hsl: 238, 37, 63;
  --nccl-color-tertiary-rgb: 126, 128, 196;
  --nccl-color-success-50: #e2ffea;
  --nccl-color-success-50-hex: #e2ffea;
  --nccl-color-success-50-hsl: 137, 100, 94;
  --nccl-color-success-50-rgb: 226, 255, 234;
  --nccl-color-success-100: #ccf2d3;
  --nccl-color-success-100-hex: #ccf2d3;
  --nccl-color-success-100-hsl: 131, 59, 87;
  --nccl-color-success-100-rgb: 204, 242, 211;
  --nccl-color-success-200: #b6e5bd;
  --nccl-color-success-200-hex: #b6e5bd;
  --nccl-color-success-200-hsl: 129, 47, 81;
  --nccl-color-success-200-rgb: 182, 229, 189;
  --nccl-color-success-300: #a0d8a7;
  --nccl-color-success-300-hex: #a0d8a7;
  --nccl-color-success-300-hsl: 128, 42, 74;
  --nccl-color-success-300-rgb: 160, 216, 167;
  --nccl-color-success-400: #89cb92;
  --nccl-color-success-400-hex: #89cb92;
  --nccl-color-success-400-hsl: 128, 39, 67;
  --nccl-color-success-400-rgb: 137, 203, 146;
  --nccl-color-success-500: #73b97d;
  --nccl-color-success-500-hex: #73b97d;
  --nccl-color-success-500-hsl: 129, 33, 59;
  --nccl-color-success-500-rgb: 115, 185, 125;
  --nccl-color-success-600: #5ea368;
  --nccl-color-success-600-hex: #5ea368;
  --nccl-color-success-600-hsl: 129, 27, 50;
  --nccl-color-success-600-rgb: 94, 163, 104;
  --nccl-color-success-700: #498e55;
  --nccl-color-success-700-hex: #498e55;
  --nccl-color-success-700-hsl: 130, 32, 42;
  --nccl-color-success-700-rgb: 73, 142, 85;
  --nccl-color-success-800: #347942;
  --nccl-color-success-800-hex: #347942;
  --nccl-color-success-800-hsl: 132, 40, 34;
  --nccl-color-success-800-rgb: 52, 121, 66;
  --nccl-color-success-900: #1d652f;
  --nccl-color-success-900-hex: #1d652f;
  --nccl-color-success-900-hsl: 135, 55, 25;
  --nccl-color-success-900-rgb: 29, 101, 47;
  --nccl-color-success: #7ec487;
  --nccl-color-success-hex: #7ec487;
  --nccl-color-success-hsl: 128, 37, 63;
  --nccl-color-success-rgb: 126, 196, 135;
  --nccl-color-warning-50: #ffffe0;
  --nccl-color-warning-50-hex: #ffffe0;
  --nccl-color-warning-50-hsl: 60, 100, 94;
  --nccl-color-warning-50-rgb: 255, 255, 224;
  --nccl-color-warning-100: #f2eec9;
  --nccl-color-warning-100-hex: #f2eec9;
  --nccl-color-warning-100-hsl: 54, 61, 87;
  --nccl-color-warning-100-rgb: 242, 238, 201;
  --nccl-color-warning-200: #e5deb3;
  --nccl-color-warning-200-hex: #e5deb3;
  --nccl-color-warning-200-hsl: 52, 49, 80;
  --nccl-color-warning-200-rgb: 229, 222, 179;
  --nccl-color-warning-300: #d8ce9e;
  --nccl-color-warning-300-hex: #d8ce9e;
  --nccl-color-warning-300-hsl: 50, 43, 73;
  --nccl-color-warning-300-rgb: 216, 206, 158;
  --nccl-color-warning-400: #cbbe89;
  --nccl-color-warning-400-hex: #cbbe89;
  --nccl-color-warning-400-hsl: 48, 39, 67;
  --nccl-color-warning-400-rgb: 203, 190, 137;
  --nccl-color-warning-500: #b9ab74;
  --nccl-color-warning-500-hex: #b9ab74;
  --nccl-color-warning-500-hsl: 48, 33, 59;
  --nccl-color-warning-500-rgb: 185, 171, 116;
  --nccl-color-warning-600: #a39660;
  --nccl-color-warning-600-hex: #a39660;
  --nccl-color-warning-600-hsl: 48, 27, 51;
  --nccl-color-warning-600-rgb: 163, 150, 96;
  --nccl-color-warning-700: #8d814c;
  --nccl-color-warning-700-hex: #8d814c;
  --nccl-color-warning-700-hsl: 49, 30, 43;
  --nccl-color-warning-700-rgb: 141, 129, 76;
  --nccl-color-warning-800: #786d39;
  --nccl-color-warning-800-hex: #786d39;
  --nccl-color-warning-800-hsl: 50, 36, 35;
  --nccl-color-warning-800-rgb: 120, 109, 57;
  --nccl-color-warning-900: #635a27;
  --nccl-color-warning-900-hex: #635a27;
  --nccl-color-warning-900-hsl: 51, 43, 27;
  --nccl-color-warning-900-rgb: 99, 90, 39;
  --nccl-color-warning: #c4b67e;
  --nccl-color-warning-hex: #c4b67e;
  --nccl-color-warning-hsl: 48, 37, 63;
  --nccl-color-warning-rgb: 196, 182, 126;
  --nccl-color-danger-50: #ffe0df;
  --nccl-color-danger-50-hex: #ffe0df;
  --nccl-color-danger-50-hsl: 2, 100, 94;
  --nccl-color-danger-50-rgb: 255, 224, 223;
  --nccl-color-danger-100: #f2cac9;
  --nccl-color-danger-100-hex: #f2cac9;
  --nccl-color-danger-100-hsl: 1, 61, 87;
  --nccl-color-danger-100-rgb: 242, 202, 201;
  --nccl-color-danger-200: #e6b4b3;
  --nccl-color-danger-200-hex: #e6b4b3;
  --nccl-color-danger-200-hsl: 1, 50, 80;
  --nccl-color-danger-200-rgb: 230, 180, 179;
  --nccl-color-danger-300: #d89e9d;
  --nccl-color-danger-300-hex: #d89e9d;
  --nccl-color-danger-300-hsl: 1, 43, 73;
  --nccl-color-danger-300-rgb: 216, 158, 157;
  --nccl-color-danger-400: #cb8988;
  --nccl-color-danger-400-hex: #cb8988;
  --nccl-color-danger-400-hsl: 1, 39, 66;
  --nccl-color-danger-400-rgb: 203, 137, 136;
  --nccl-color-danger-500: #b97474;
  --nccl-color-danger-500-hex: #b97474;
  --nccl-color-danger-500-hsl: 0, 33, 59;
  --nccl-color-danger-500-rgb: 185, 116, 116;
  --nccl-color-danger-600: #a26060;
  --nccl-color-danger-600-hex: #a26060;
  --nccl-color-danger-600-hsl: 0, 26, 51;
  --nccl-color-danger-600-rgb: 162, 96, 96;
  --nccl-color-danger-700: #8c4c4d;
  --nccl-color-danger-700-hex: #8c4c4d;
  --nccl-color-danger-700-hsl: 359, 30, 42;
  --nccl-color-danger-700-rgb: 140, 76, 77;
  --nccl-color-danger-800: #76393b;
  --nccl-color-danger-800-hex: #76393b;
  --nccl-color-danger-800-hsl: 358, 35, 34;
  --nccl-color-danger-800-rgb: 118, 57, 59;
  --nccl-color-danger-900: #612629;
  --nccl-color-danger-900-hex: #612629;
  --nccl-color-danger-900-hsl: 357, 44, 26;
  --nccl-color-danger-900-rgb: 97, 38, 41;
  --nccl-color-danger: #c47e7e;
  --nccl-color-danger-hex: #c47e7e;
  --nccl-color-danger-hsl: 0, 37, 63;
  --nccl-color-danger-rgb: 196, 126, 126;
  --nccl-color-alt-50: #ffe1ff;
  --nccl-color-alt-50-hex: #ffe1ff;
  --nccl-color-alt-50-hsl: 300, 100, 94;
  --nccl-color-alt-50-rgb: 255, 225, 255;
  --nccl-color-alt-100: #f2caef;
  --nccl-color-alt-100-hex: #f2caef;
  --nccl-color-alt-100-hsl: 304, 61, 87;
  --nccl-color-alt-100-rgb: 242, 202, 239;
  --nccl-color-alt-200: #e5b4df;
  --nccl-color-alt-200-hex: #e5b4df;
  --nccl-color-alt-200-hsl: 307, 49, 80;
  --nccl-color-alt-200-rgb: 229, 180, 223;
  --nccl-color-alt-300: #d89fcf;
  --nccl-color-alt-300-hex: #d89fcf;
  --nccl-color-alt-300-hsl: 309, 42, 74;
  --nccl-color-alt-300-rgb: 216, 159, 207;
  --nccl-color-alt-400: #cb89bf;
  --nccl-color-alt-400-hex: #cb89bf;
  --nccl-color-alt-400-hsl: 311, 39, 67;
  --nccl-color-alt-400-rgb: 203, 137, 191;
  --nccl-color-alt-500: #b974ac;
  --nccl-color-alt-500-hex: #b974ac;
  --nccl-color-alt-500-hsl: 311, 33, 59;
  --nccl-color-alt-500-rgb: 185, 116, 172;
  --nccl-color-alt-600: #a35f97;
  --nccl-color-alt-600-hex: #a35f97;
  --nccl-color-alt-600-hsl: 311, 27, 51;
  --nccl-color-alt-600-rgb: 163, 95, 151;
  --nccl-color-alt-700: #8d4b82;
  --nccl-color-alt-700-hex: #8d4b82;
  --nccl-color-alt-700-hsl: 310, 31, 42;
  --nccl-color-alt-700-rgb: 141, 75, 130;
  --nccl-color-alt-800: #78376e;
  --nccl-color-alt-800-hex: #78376e;
  --nccl-color-alt-800-hsl: 309, 37, 34;
  --nccl-color-alt-800-rgb: 120, 55, 110;
  --nccl-color-alt-900: #63245a;
  --nccl-color-alt-900-hex: #63245a;
  --nccl-color-alt-900-hsl: 309, 47, 26;
  --nccl-color-alt-900-rgb: 99, 36, 90;
  --nccl-color-alt: #c47eb7;
  --nccl-color-alt-hex: #c47eb7;
  --nccl-color-alt-hsl: 311, 37, 63;
  --nccl-color-alt-rgb: 196, 126, 183;
  --nccl-color-neutral-dark-50: #7f8995;
  --nccl-color-neutral-dark-50-hex: #7f8995;
  --nccl-color-neutral-dark-50-hsl: 213, 9, 54;
  --nccl-color-neutral-dark-50-rgb: 127, 137, 149;
  --nccl-color-neutral-dark-100: #6f7a86;
  --nccl-color-neutral-dark-100-hex: #6f7a86;
  --nccl-color-neutral-dark-100-hsl: 211, 9, 48;
  --nccl-color-neutral-dark-100-rgb: 111, 122, 134;
  --nccl-color-neutral-dark-200: #606b76;
  --nccl-color-neutral-dark-200-hex: #606b76;
  --nccl-color-neutral-dark-200-hsl: 210, 10, 42;
  --nccl-color-neutral-dark-200-rgb: 96, 107, 118;
  --nccl-color-neutral-dark-300: #525c67;
  --nccl-color-neutral-dark-300-hex: #525c67;
  --nccl-color-neutral-dark-300-hsl: 211, 11, 36;
  --nccl-color-neutral-dark-300-rgb: 82, 92, 103;
  --nccl-color-neutral-dark-400: #444e59;
  --nccl-color-neutral-dark-400-hex: #444e59;
  --nccl-color-neutral-dark-400-hsl: 211, 13, 31;
  --nccl-color-neutral-dark-400-rgb: 68, 78, 89;
  --nccl-color-neutral-dark-500: #36404b;
  --nccl-color-neutral-dark-500-hex: #36404b;
  --nccl-color-neutral-dark-500-hsl: 211, 16, 25;
  --nccl-color-neutral-dark-500-rgb: 54, 64, 75;
  --nccl-color-neutral-dark-600: #29333d;
  --nccl-color-neutral-dark-600-hex: #29333d;
  --nccl-color-neutral-dark-600-hsl: 210, 20, 20;
  --nccl-color-neutral-dark-600-rgb: 41, 51, 61;
  --nccl-color-neutral-dark-700: #232b33;
  --nccl-color-neutral-dark-700-hex: #232b33;
  --nccl-color-neutral-dark-700-hsl: 210, 19, 17;
  --nccl-color-neutral-dark-700-rgb: 35, 43, 51;
  --nccl-color-neutral-dark-800: #1e242a;
  --nccl-color-neutral-dark-800-hex: #1e242a;
  --nccl-color-neutral-dark-800-hsl: 210, 17, 14;
  --nccl-color-neutral-dark-800-rgb: 30, 36, 42;
  --nccl-color-neutral-dark-900: #181d21;
  --nccl-color-neutral-dark-900-hex: #181d21;
  --nccl-color-neutral-dark-900-hsl: 207, 16, 11;
  --nccl-color-neutral-dark-900-rgb: 24, 29, 33;
  --nccl-color-neutral-dark-1000: #131619;
  --nccl-color-neutral-dark-1000-hex: #131619;
  --nccl-color-neutral-dark-1000-hsl: 210, 14, 9;
  --nccl-color-neutral-dark-1000-rgb: 19, 22, 25;
  --nccl-color-neutral-dark-1100: #0b0d0f;
  --nccl-color-neutral-dark-1100-hex: #0b0d0f;
  --nccl-color-neutral-dark-1100-hsl: 210, 15, 5;
  --nccl-color-neutral-dark-1100-rgb: 11, 13, 15;
  --nccl-color-neutral-dark-1200: #000000;
  --nccl-color-neutral-dark-1200-hex: #000000;
  --nccl-color-neutral-dark-1200-hsl: 0, 0, 0;
  --nccl-color-neutral-dark-1200-rgb: 0, 0, 0;
  --nccl-color-neutral-dark: #29333d;
  --nccl-color-neutral-dark-hex: #29333d;
  --nccl-color-neutral-dark-hsl: 210, 20, 20;
  --nccl-color-neutral-dark-rgb: 41, 51, 61;
  --nccl-color-hover-50: #ffffff;
  --nccl-color-hover-50-hex: #ffffff;
  --nccl-color-hover-50-hsl: 0, 0, 100;
  --nccl-color-hover-50-rgb: 255, 255, 255;
  --nccl-color-hover-100: #f3f6fa;
  --nccl-color-hover-100-hex: #f3f6fa;
  --nccl-color-hover-100-hsl: 214, 41, 97;
  --nccl-color-hover-100-rgb: 243, 246, 250;
  --nccl-color-hover-200: #e6eef6;
  --nccl-color-hover-200-hex: #e6eef6;
  --nccl-color-hover-200-hsl: 210, 47, 93;
  --nccl-color-hover-200-rgb: 230, 238, 246;
  --nccl-color-hover-300: #dae5f1;
  --nccl-color-hover-300-hex: #dae5f1;
  --nccl-color-hover-300-hsl: 211, 45, 90;
  --nccl-color-hover-300-rgb: 218, 229, 241;
  --nccl-color-hover-400: #cddcec;
  --nccl-color-hover-400-hex: #cddcec;
  --nccl-color-hover-400-hsl: 211, 45, 86;
  --nccl-color-hover-400-rgb: 205, 220, 236;
  --nccl-color-hover-500: #bccddf;
  --nccl-color-hover-500-hex: #bccddf;
  --nccl-color-hover-500-hsl: 211, 35, 81;
  --nccl-color-hover-500-rgb: 188, 205, 223;
  --nccl-color-hover-600: #a6b7c8;
  --nccl-color-hover-600-hex: #a6b7c8;
  --nccl-color-hover-600-hsl: 210, 24, 72;
  --nccl-color-hover-600-rgb: 166, 183, 200;
  --nccl-color-hover-700: #91a1b2;
  --nccl-color-hover-700-hex: #91a1b2;
  --nccl-color-hover-700-hsl: 211, 18, 63;
  --nccl-color-hover-700-rgb: 145, 161, 178;
  --nccl-color-hover-800: #7c8c9d;
  --nccl-color-hover-800-hex: #7c8c9d;
  --nccl-color-hover-800-hsl: 211, 14, 55;
  --nccl-color-hover-800-rgb: 124, 140, 157;
  --nccl-color-hover-900: #687888;
  --nccl-color-hover-900-hex: #687888;
  --nccl-color-hover-900-hsl: 210, 13, 47;
  --nccl-color-hover-900-rgb: 104, 120, 136;
  --nccl-color-hover: #c7d8ea;
  --nccl-color-hover-hex: #c7d8ea;
  --nccl-color-hover-hsl: 211, 45, 85;
  --nccl-color-hover-rgb: 199, 216, 234;
  --nccl-color-neutral-light-50: #f4f9ff;
  --nccl-color-neutral-light-50-hex: #f4f9ff;
  --nccl-color-neutral-light-50-hsl: 213, 100, 98;
  --nccl-color-neutral-light-50-rgb: 244, 249, 255;
  --nccl-color-neutral-light-100: #e4eaef;
  --nccl-color-neutral-light-100-hex: #e4eaef;
  --nccl-color-neutral-light-100-hsl: 207, 26, 92;
  --nccl-color-neutral-light-100-rgb: 228, 234, 239;
  --nccl-color-neutral-light-200: #d5dae0;
  --nccl-color-neutral-light-200-hex: #d5dae0;
  --nccl-color-neutral-light-200-hsl: 213, 15, 86;
  --nccl-color-neutral-light-200-rgb: 213, 218, 224;
  --nccl-color-neutral-light-300: #c5cad0;
  --nccl-color-neutral-light-300-hex: #c5cad0;
  --nccl-color-neutral-light-300-hsl: 213, 10, 79;
  --nccl-color-neutral-light-300-rgb: 197, 202, 208;
  --nccl-color-neutral-light-400: #b6bbc1;
  --nccl-color-neutral-light-400-hex: #b6bbc1;
  --nccl-color-neutral-light-400-hsl: 213, 8, 74;
  --nccl-color-neutral-light-400-rgb: 182, 187, 193;
  --nccl-color-neutral-light-500: #a7acb2;
  --nccl-color-neutral-light-500-hex: #a7acb2;
  --nccl-color-neutral-light-500-hsl: 213, 7, 68;
  --nccl-color-neutral-light-500-rgb: 167, 172, 178;
  --nccl-color-neutral-light-600: #989da3;
  --nccl-color-neutral-light-600-hex: #989da3;
  --nccl-color-neutral-light-600-hsl: 213, 6, 62;
  --nccl-color-neutral-light-600-rgb: 152, 157, 163;
  --nccl-color-neutral-light-700: #8a8f95;
  --nccl-color-neutral-light-700-hex: #8a8f95;
  --nccl-color-neutral-light-700-hsl: 213, 5, 56;
  --nccl-color-neutral-light-700-rgb: 138, 143, 149;
  --nccl-color-neutral-light-800: #7c8086;
  --nccl-color-neutral-light-800-hex: #7c8086;
  --nccl-color-neutral-light-800-hsl: 216, 4, 51;
  --nccl-color-neutral-light-800-rgb: 124, 128, 134;
  --nccl-color-neutral-light-900: #6e7278;
  --nccl-color-neutral-light-900-hex: #6e7278;
  --nccl-color-neutral-light-900-hsl: 216, 4, 45;
  --nccl-color-neutral-light-900-rgb: 110, 114, 120;
  --nccl-color-neutral-light-1000: #60656a;
  --nccl-color-neutral-light-1000-hex: #60656a;
  --nccl-color-neutral-light-1000-hsl: 210, 5, 40;
  --nccl-color-neutral-light-1000-rgb: 96, 101, 106;
  --nccl-color-neutral-light-1100: #53575d;
  --nccl-color-neutral-light-1100-hex: #53575d;
  --nccl-color-neutral-light-1100-hsl: 216, 6, 35;
  --nccl-color-neutral-light-1100-rgb: 83, 87, 93;
  --nccl-color-neutral-light-1200: #464a50;
  --nccl-color-neutral-light-1200-hex: #464a50;
  --nccl-color-neutral-light-1200-hsl: 216, 7, 29;
  --nccl-color-neutral-light-1200-rgb: 70, 74, 80;
  --nccl-color-neutral-light-1300: #393e43;
  --nccl-color-neutral-light-1300-hex: #393e43;
  --nccl-color-neutral-light-1300-hsl: 210, 8, 24;
  --nccl-color-neutral-light-1300-rgb: 57, 62, 67;
  --nccl-color-neutral-light: #91969c;
  --nccl-color-neutral-light-hex: #91969c;
  --nccl-color-neutral-light-hsl: 213, 5, 59;
  --nccl-color-neutral-light-rgb: 145, 150, 156;
  --nccl-custom-navbar--height-mobile: 4.5rem;
  --nccl-custom-navbar--width-desktop: 4.5rem;
  --nccl-custom-header--height-desktop: 4.5rem;
  --nccl-custom-page--gutter-desktop: 2rem;
  --nccl-custom-page--gutter-mobile: 1.5rem;
  --nccl-custom-table--cell-padding: 1rem;
  --nccl-custom-table--body-cell-padding-v: 1rem;
  --nccl-custom-modal--gutters: 2rem;
  --nccl-custom-container--max-width: 70.5rem;
  --nccl-custom-admin--tab-height-desktop: 2.5rem;
  --nccl-font-base: 16;
  --nccl-font-family-heading:
    "Montserrat", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --nccl-font-family-body:
    "Nunito", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --nccl-font-weight-heading-regular: 400;
  --nccl-font-weight-heading-medium: 500;
  --nccl-font-weight-heading-semiBold: 600;
  --nccl-font-weight-heading-light: 300;
  --nccl-font-weight-heading-bold: 700;
  --nccl-font-weight-body-regular: 400;
  --nccl-font-weight-body-medium: 500;
  --nccl-font-weight-body-semiBold: 600;
  --nccl-font-weight-body-bold: 700;
  --nccl-font-weight-body-light: 300;
  --nccl-breakpoint-mobile: 480px;
  --nccl-breakpoint-tablet: 768px;
  --nccl-breakpoint-laptop: 1024px;
  --nccl-breakpoint-desktop: 1280px;
  --nccl-breakpoint-ultraWide: 1536px;
}
